.update-form {
  background-color: rgb(194, 194, 202);
  padding: 15px;
  border-radius: 5px;
}

.update-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 150px;
  height: 50px;
  border-radius: 5px;
  margin-top: 30px;
}

.project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;

  border-radius: 5px;
  margin-top: 30px;
}
.project-card {
  background: linear-gradient(135deg, #9ad7ff 20%, #8644ac 70%, #f0b5a4 100%);
  padding: 15px;
  border-radius: 5px;
  padding: 0%;
  border-radius: 5px;
  height: 220px;
}
