.header {
  padding: 1rem;
  background-color: #2d3748; /* bg-gray-800 */
  color: #ffffff; /* text-white */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo-container img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.logo-container .logo-name {
  font-size: 1.25rem;
  font-weight: bold;
}

.dropdown-container {
  margin-right: 1rem;
  margin-left: 1rem;
}

.dropdown {
  position: relative;
  margin-right: 1rem;
  cursor: pointer;
}
.dropdown:first-child {
  margin-left: -1rem; /* Move the first dropdown (Workspaces) 1rem to the left */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 200px;
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #000000;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile input {
  margin-right: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

.button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}

.button img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.button:hover img {
  transform: scale(1.1);
  opacity: 0.8;
}
