.sidebar {
  background-color: #f4f5f7;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.sidebar h2 {
  font-size: 16px;
  color: var(--text-color);
  margin-bottom: 10px;
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 8px 0;
  margin-bottom: 1rem;
  color: var(--text-color);
  cursor: pointer;
}

.sidebar li:hover {
  color: #3d3c3c;
  font-weight: bold;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.sidebar-icon {
  margin-right: 0.5rem;
}
