/* Sidebar container */
.sidebar {
  width: 250px;
  min-width: 250px;
  height: auto; /* Ensure the sidebar takes up the full height of its container */
  min-height: 100vh; /* Ensure it covers at least the full viewport height */
  color: #ffffff; /* White text */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0 20px;
}

.sidebar ul {
  list-style: none;
  padding: 1rem 0;
  margin: 0;
  padding-top: 4rem;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar h2 {
  font-size: 1rem;
  color: #b39acb; /* Darker muted white */
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.sidebar a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  /*color: #5e4976; /* Darker purple */
  padding: 0; /* Removed padding to eliminate background box effect */
  border-radius: 0; /* No rounded corners for background */
  transition: color 0.3s, transform 0.2s;
  font-weight: 500;
}

.sidebar a .sidebar-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sidebar a:hover {
  color: #2f204b; /* Darker hover color */
  transform: translateY(-2px);
  box-shadow: none;
}

.sidebar a.active {
  color: #441752; /* Deep Purple */
  font-weight: bold;
  box-shadow: none;
}

/* Button styles */
.sidebar button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: #5e4976; /* Darker purple to match links */
  background: none; /* Removed background color */
  border: none; /* Removed border */
  padding: 0; /* Removed padding */
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
  font-weight: 500;
}

.sidebar button .sidebar-icon {
  margin-right: 10px;
  font-size: 1.2rem;
}

/* Hover effect for button */
.sidebar button:hover {
  color: #2f204b; /* Darker hover color */
  transform: translateY(-2px);
  box-shadow: none;
}

/* Project list */
.sidebar ul ul {
  margin-left: 15px;
  margin-top: 5px;
}

.sidebar ul ul li {
  font-size: 0.9rem;
  color: #5e4976; /* Slightly darker text */
  margin-bottom: 8px;
}

.pinned-projects .sidebar-link {
  display: block;
  margin-bottom: 10px; /* Add spacing between pinned projects */
  background-color: rgba(20, 43, 137, 0.2); /* Faint gray background */
  border-radius: 5px; /* Optional: Add rounded corners */
  padding: 5px 10px; /* Optional: Add padding inside the box */
  transition: background-color 0.3s;
}
.pinned-projects {
  margin-top: 3rem;
}

.pinned-projects .sidebar-link:hover {
  background-color: rgba(150, 150, 150, 0.3);
}
.sidebar .pinned-projects .card {
  padding: 4px;
  margin-bottom: 8px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  background: linear-gradient(#6886d7, #d678a7);
}

.sidebar .pinned-projects .card-header {
  padding: 4px 8px;
}

.sidebar .pinned-projects .card-content {
  padding: 4px 8px;
}

.sidebar .pinned-projects .card-title {
  font-size: 14px;
}

.sidebar .pinned-projects .card-description {
  font-size: 12px;
}

.sidebar .pinned-projects .close-button {
  padding: 2px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.sidebar .pinned-projects .view-project-button {
  margin-top: 8px;
  font-size: 12px;
  padding: 4px 8px; /* Adjust padding as needed */
}
/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .sidebar a {
    font-size: 0.9rem;
    padding: 0; /* Ensure no padding */
  }

  .sidebar h2 {
    font-size: 0.85rem;
  }

  .sidebar button {
    font-size: 0.9rem;
    padding: 0; /* Ensure no padding */
  }
}
