@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: white;
  --text-color: black;
  --button-background-color: #007bff;
  --button-text-color: white;
}

.light-theme {
  --background-color: white;
  --text-color: black;
  --button-background-color: #007bff;
  --button-text-color: white;
}

.dark-theme {
  --background-color: rgb(23, 11, 54);
  --text-color: white;
  --button-background-color: orange;
  --button-text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
}

/* Additional global styles */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
