@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background-color: white; */
  --background-color: #e7e1eb;
  --text-color: rgb(26, 25, 25);
  /* --button-background-color: #2a679d; */
  --button-background-color: #a888b5;
  --button-border-radius: 5px;
  --button-text-color: white;
}

.light-theme {
  /* --background-color: white; */
  --background-color: #e7e1eb;
  --text-color: rgb(26, 25, 25);
  /* --button-background-color: #2a679d; */
  --button-background-color: #a888b5;
  --button-border-radius: 5px;
  --button-text-color: white;
  --sidebar-background-color: #c9bccf;
}

.dark-theme {
  /* --background-color: #000957; */
  --background-color: rgb(51, 49, 49);
  --text-color: rgb(38, 124, 156);
  /* --button-background-color: rgb(208, 155, 56); */
  --button-background-color: rgb(38, 124, 156);
  --sidebar-background-color: rgb(75, 73, 73);
  --button-border-radius: 5px;
  --button-text-color: white;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  @apply w-full min-h-screen;
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-radius: var(--button-border-radius);
}
.app-container {
  @apply w-full max-w-full mx-auto px-4;
}

@media (min-width: 1280px) {
  .app-container {
    @apply max-w-7xl;
  }
}
/* Additional global styles */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
